  
html
    link(rel="stylesheet",href="../bootstrap.min.css")
    script(src="../jquery.min.js")
    script(src="../bootstrap.min.js")
    head
        title pug document
    body
        h1 People Repo
        div.jumbotron
            table.table.table-striped
                thead
                    th Sno
                    th Name
                    th City
                tbody
                    each x in people
                        tr
                            td= x.sno
                            td= x.name
                            td= x.city

            